.moya-imglib-manager {
    display: block;
    /*outline:1px dashed #aaa;*/
    /* background-color: #f8f8f8; */

    /*overflow:hidden;*/
    box-sizing:padding-box;
}
.moya-imglib-manager .form-actions {
    margin-bottom:0px;
}
.moya-imglib-error
{
    display:none;
    position:absolute;
    z-index:10;
    margin:4px;
}
.moya-imglib-manager.moya-imglib-fullsize {
    max-height: 100vh !important;
}
.moya-imglib-manager:not(.moya-imglib-fullsize) .moya-imglib-image-container {
    max-height: 60vh;
}
.moya-imglib-manager.moya-imglib-fullsize .moya-imglib-image-container {
    max-height: calc(100vh - 3.5em);
    overflow-y: auto;
}
.moya-imglib-manager form.upload {
    width: 0px;
    height: 0px;
}
.moya-imglib-manager.active {
    outline: 1px solid #000;
}
.moya-imglib-manager-upload {
    width: 100%;
}
.moya-imglib-manager-upload:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}
.moya-imglib-manager-upload .glyphicon {
    font-size: 40px;
    text-align: center;
    opacity: 0.3;
}
.moya-imglib-confirm {
    display: none;
}
.moya-imglib-header.confirm-delete .moya-imglib-confirm {
    display: block;
}
.moya-imglib-image .glyphicon {
    font-size: 40px;
    text-align: center;
    opacity: 0.1;
    margin-top: auto;
}
.moya-imglib-image {
    /*background-color:#e9e9e9;*/
    text-align: center;
    margin: 0px;
    float: left;
    text-overflow: ellipsis;
    width: 12.5%;
    margin: 0px;
    padding: 0px;
}
@media (max-width:1600px) {
    .moya-imglib-image {
        width: 12.5%;
    }
}
@media (max-width:1170px) {
    .moya-imglib-image {
        width: 16.66666666%;
    }
}
@media (max-width:992px) {
    .moya-imglib-image {
        width: 25%;
    }
}
@media (max-width:768px) {
    .moya-imglib-image {
        width: 33.3333333%;
    }
}
@media (max-width:400px) {
    .moya-imglib-image {
        width: 50%;
    }
}
.moya-imglib-image img {
    width: 100%;
    height: 100%;
}
.moya-imglib-hidden {
    display: none;
}
.moya-imglib-image span {
    text-align: left;
    color: #fff;
    font-size: 14px;
    text-shadow: 0px 0px 3px #000, 1px 1px 0px #000;
    position: absolute;
    z-index: 5;
    margin: 4px;
}
.moya-imglib-image span {
    opacity: 0;
    transition: opacity 0.3s;
}
.moya-imglib-image:hover span {
    opacity: 1.0;
    transition: opacity 0.3s;
}
.moya-imglib-image.selected {
    opacity: 1.0 !important;
}
.moya-imglib-image.selected span {
    display: none !important;
}
.moya-imglib-image {
    transform: scale(1.0);
}
.moya-imglib-image:hover {
    cursor: pointer;
}

.moya-imglib-image
{
    opacity:1.0;
}

.moya-imglib-image:hover img {}
.moya-imglib-image.moya-imglib-deleted {
    transform: scale(0.5);
    opacity: 0.1;
    transition: opacity 0.4s, transform 0.4s;
}
.moya-imglib-header .moya-imglib-select {
    display: none;
}
.moya-imglib-header.with-selections .moya-imglib-select {
    display: block;
}
.moya-imglib-header.with-selections.confirm-delete .moya-imglib-select {
    display: none;
}
.moya-imglib-header.with-selections .moya-imglib-controls {
    display: none;
}
.moya-imglib-image.selected {
    /*outline: 4px solid blue;*/
    /*background-color: #eee !important;*/
}
.moya-imglib-image {
    /*overflow:auto;*/
    display:table-cell;
}
.moya-imglib-image img {
    transform: scale(1);
    transition: transform 0.1s;
}
.moya-imglib-image.selected img {
    transform: scale(0.85) !important;
    /* transition: transform 0.1s; */
}
.moya-imglib-image.selected:after {
    font-family: monospace;
    content: "\2713";
    position: absolute;
    font-size: 25px;
    width: 25px;
    height: 25px;
    line-height: 27px;
    /*right:0px;*/
    margin-left: -29px;
    margin-top: 6px;
    background-color: blue;
    color: white;
    border-radius: 100%;
    vertical-align: middle;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.moya-imglib-image .moya-imglib-control {
    display: none;
    position: absolute;
    /*transition:opacity .2s;*/
    font-size: 25px;
    width: 25px;
    height: 25px;
    padding: 0px;
    line-height: 25px;
    text-align: center;
    vertical-align: bottom;
    color: #fff;
    text-shadow: 1px 1px 0px #000, 0px 0px 3px #000;
    border-radius: 100%;
    /*background-color:rgba(0,0,0,0.6);*/
    z-index: 5;
    margin: 6px 0px 0px 4px;
    font-family: helvetica;
}
.moya-imglib-image.selected .moya-imglib-control {
    display: none;
    /*background-color:rgba(0,0,0,1.0);*/
}
.moya-touch-device .moya-imglib-image.selected .moya-imglib-control {
    display: block;
}

.moya-imglib-image:hover .moya-imglib-control {
    display: block;
}

.moya-imglib-header.confirm-delete input[name=search], .moya-imglib-header.with-selections input[name=search] {
    display: none;
}
.moya-imglib-image:hover .moya-imglib-control:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #000;
    text-shadow: none;
}
.moya-imglib-edit {
    /* margin-top: 1.5em !important; */
}
.moya-imglib-image-container {
    margin: 0px 0px 6px 0px;
    /*max-height: 100vh;*/
    /*padding-bottom: 4px;*/
    overflow-y: auto;
    overflow-x: hidden;
    /*border:1px solid #ddd;*/
    background: radial-gradient(#fff 10%, #eee 60%, #ddd);
    min-height: 120px;
    display:table;
    width:100%;
}
.moya-imglib-manager.moya-imglib-fullsize .moya-imglib-image-container {
    /*padding-top:64px;*/
    margin: 0px;
}
.moya-imglib-image-uploading {
    background-color: rgba(255,255,255,0.4);
}
.moya-imglib-image-uploading .moya-imglib-progress {
    /*position: relative;*/
    /*
  width: 142px;
  height: 142px;
  */
    width: 100%;
    height: 100%;
    /*background-color: #eee;*/
}
.moya-imglib-image.moya-imglib-image-uploading {
    /* background-color: #fff; */
}

.moya-imglib-header {
    /*  height: 36px;*/
    padding: 7px 0px;
    height: 3.5em;
}
.moya-imglib-fullsize .moya-imglib-header {
    /*position:fixed;*/
    overflow: hidden;
    width: 100%;
    top: 0px;
    background-color: #fff;
    z-index: 10;
    padding: 7px;
}
.moya-imglib-manager input[name=search] {
    float: right;
    width: 16em;
}
.moya-imglib-picker .moya-imglib-picker-current {
    max-width: 512px;
    border: 1px solid #eee;
    height: 96px;
    overflow: hidden;
}
.moya-imglib-picker-list {
    position: absolute;
    width: 512px;
    max-height: 384px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #999;
    /*background-color:#fff;*/
    z-index: 10;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}
.moya-imglib-option img {
    /*background-color:#fff;*/
    float: left;
    width: 128px;
    padding: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.moya-imglib-option .moya-imglib-details {
    margin-left: 140px;
}
.moya-imglib-manager .moya-imglib-image-form {
    display: none;
    /*padding:8px;*/
}
.moya-imglib-image-form img {
    padding: 2px;
    background-color: #fff;
    border: 1px solid #bbb;
}
.moya-imglib-manager.edit-image .moya-imglib-image-form {
    display: block;
    padding-top: 1em;
}
.moya-imglib-manager.edit-image .moya-imglib-image-container {
    display: none;
}
.moya-imglib-manager.edit-image .moya-imglib-header {
    display: none;
}

.moya-imglib-uploader
{
    width:320px;
    height:240px;

    overflow:hidden;
    background-color:white;
    background-image: linear-gradient(45deg, #eaeaea 25%, transparent 25%, transparent 75%, #eaeaea 75%),
linear-gradient(45deg, #eaeaea 25%, transparent 25%, transparent 75%, #eaeaea 75%);
background-size:32px 32px;
background-position: 0 0, 16px 16px;
}

.checker
{
    overflow:hidden;
    background-color:white;
    background-image: linear-gradient(45deg, #eaeaea 25%, transparent 25%, transparent 75%, #eaeaea 75%),
linear-gradient(45deg, #eaeaea 25%, transparent 25%, transparent 75%, #eaeaea 75%);
background-size:32px 32px;
background-position: 0 0, 16px 16px;
}

.moya-imglib-uploader form
{
    position:absolute;
}

.moya-imglib-uploader .moya-imglib-upload-image
{
    /*background-color:#f6f6f6;*/
    padding:2px;
    border:1px solid #e2e2e2;
    width:320px;
    height:240px;
    position:absolute;
    overflow:hidden;
    white-space: nowrap;
    box-sizing: border-box;
}




.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.noya-imglib-uploader .upload-icon
{
    font-size:48px;
}

.moya-imglib-uploader .moya-imglib-upload-controls
{
    width:320px;
    height:240px;
    position:absolute;
    font-size:32px;
    text-align: center;
    line-height:240px;
    background-color:rgba(0,0,0,0.5);
    color:#fff;
    opacity:0.0;
    transition: opacity 0.2s;
}

.moya-imglib-uploader:not(.loading) .moya-imglib-upload-controls:hover
{
    opacity:1.0;
    transition: opacity 0.2s;
    cursor:pointer;
}

.moya-imglib-upload-image
{
    width:320px;
    height:240px;
    background-position: center center;
    background-size:contain;
    background-repeat: no-repeat;
}


.moya-imglib-progress {
    margin-top: -10px;
    transform: translate(0, 50%);
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0px 16px;
    display: none;
}

.moya-imglib-image-uploading .moya-imglib-progress
{
    margin-top: calc(-50% - 10px);
    margin-bottom: calc(50% + 10px);;
}

.moya-imglib-progress .progress-bar
{
    box-sizing: content-box;
    width:100%;
    height:20px;
    border-radius:10px;
    background-color:rgba(0,0,0,0.2);
    padding:0px 4px;
}

.moya-imglib-uploader.loading .moya-imglib-progress
{
    display:block;
}

.moya-imglib-progress .progress-bar .complete
{
    background-color:rgba(255,255,255,1.0);
    height:12px;
    margin-top:4px;

    border-radius:6px;
    box-shadow: inset 0px 0px 3px #444;
    border:1px solid #000;
    background-image: linear-gradient(to bottom, rgb(84,240,84), rgb(43,194,83));

    transition: width 0.5s;
}


.moya-imglib-progress.processing .progress-bar div, .moya-imglib-image-uploading.processing .progress-bar div {
    background-size: 30px 30px;
    background-image: linear-gradient(135deg, rgba(0, 0, 0, .1) 25%, transparent 25%,
                        transparent 50%, rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, .1) 75%,
                        transparent 75%, transparent), linear-gradient(to bottom, rgb(84,240,84), rgb(43,194,83));
    box-shadow: inset 0px 0px 6px #444;
    animation: animate-stripes 2s linear infinite;
}

@keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

.moya-imglib-uploader .moya-imglib-error
{
    display:none;
    position:absolute;
    width:auto;
}
