<div class="post-info">
    <span>
        <i class="fa fa-calendar"></i>
        ${localize:post.published_date.date}
    </span>

    <span>
    &mdash; ${post.blog.title} &mdash;
    </span>

    {% if numcomments %}
    <span><i class="fa fa-comments-o"></i>${numcomments}</span>
    {% endif %}

    {% if post.tags %}
    <span>
    <i class="fa fa-tag"></i>
        {%- for tag in (post.tags) sort (name) -%}
        ${tag.name}{% if not forloop.last %}, {% endif %}
        {%- endfor -%}
    </span>
    {% endif %}
</div>
