{%- cache for 1d key [post.id, post.updated_date, .permissions.admin, numcomments] %}

{%- extract as "summary_html" replace '' %}
{% markup-block as 'moya' set post=post %}{% markup post.content as post.markup %}{% end-markup-block %}
{%- end-extract %}

{%- let post_img_src=(summary_html|'imgdata').square or summary_html|'imgsrc' %}
<div {% attrib class=['techblog-post', 'summary', 'with-photo'] %}>

    <div class="techblog-post-details clearfix">
        <div class="post-info">
            <span>
                <i class="fa fa-calendar"></i>
                ${localize:post.published_date.date}
            </span>
            <br><span>in ${post.blog.title}</span>
        </div>
    </div>
    <div class="post-body">
        <div class="techblog-post-header">
            <header class="page-header">
                <h2>
                    <a href="{% url "showpost" with slug=post.slug, blog=post.blog.slug %}">
                        ${post.title}
                    </a>
                    {%- if not post.published %}
                        <small><span class="label text-sm label-warning">Un-published</span></small>
                    {%- endif %}
                </h2>
            </header>
        </div>
        <div class="post-summary">
            <a href="{% url "showpost" with slug=post.slug, blog=post.blog.slug %}" class="photo-fan">
            {% include "photo_fan.html" %}
            </a>
            {% render summary_html|'summary'(post=post) to 'html' %}
        </div>
    </div>
    <div class="clearfix"></div>
</div>
{%- end-cache %}
